# Environment variables
.env
.env.local

# Dependencies
node_modules/
package-lock.json

# Vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local test files
test-*.html
